*{
    margin: 0;
    box-sizing: border-box;    
}

body{
    font-family: 'Creepster', cursive;
    padding: 90px 20px 0;    
}

.header{
    background-color: #393E46;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
}

.nav-link{
    color: white;
    text-decoration: none;
}
 .logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
 }
 
 .nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
 }

 .nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
 }

 .nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
 }

 .nav-menu-link:hover{
    background-color: #6D9886;
    transition: 0.5s;
 }